plots/*.svg
plots/*.png
json/*.json
db/*.db
db/*.db-shm
db/*.db-wal
upload/*
__pycache__
url.txt
json/subscriber_counts_preview.csv
secrets.yaml
json/rss.xml
plots/interactive.html
view_counter.log
logfile
daemon.out
